<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Detalhe</title>
    </head>

    <body>
        <h1>Detalhe</h1>
        <% var texto = 'Trabalhando com EJS'; %>
        <p><%= texto %></p>
        <ul>
            <li><%= cliente.idclientes %> - <%= cliente.nome %> - <%= cliente.email%></li>
        </ul>
    </body>
</html>