<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Principal</title>
    </head>

    <body>
        <h1>Principal</h1>
        <% var texto = 'Trabalhando com EJS'; %>
        <p><%= texto %></p>
        <% var texto1 = 'Refatorado'; %>
        <p><%= texto1 %></p>
    </body>
</html>